@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600&family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400&display=swap');

/* ROOT COLOR PALETTE */
:root {
  --logo-bbgMagenta: #EC008C;
  --logo-brightTeal: #3BC1CA;
  --logo-soapSudsTeal: #C9E9E6;
  --seafoamTeal: #83C8C6;
  --underwaterTeal: #036377;
  --lazyYellow: #F8D077;
  --deepViolet: #36264A;
  --lavaRed: #EC0047;
  --dropShadow: #A8CBCA;
}


span{
  font-family: 'Montserrat', sans-serif;
}

.edit-profile {
  text-decoration: none;
}

.edit-profile {
  color: var(--underwaterTeal);
  font-size: 2.5vw;
}

a:visited , a:hover, a:active  {
  color: var(--underwaterTeal);
  text-decoration: none;
}

body {
  background-image: url("/images/Editprofile.png");
  background-size: 393px auto;
  background-position: top left;
  background-repeat: no-repeat;
  overflow-y: scroll;
  max-width: 100vw;
  min-width: 393px;
}

.editPage{
  width: 50%;
  height: 50%;
}

.back-edit-button{
  position: absolute;
  top: 60px;
}

