@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600&family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400&display=swap');

/* ROOT COLOR PALETTE */
:root {
  --logo-bbgMagenta: #EC008C;
  --logo-brightTeal: #3BC1CA;
  --logo-soapSudsTeal: #C9E9E6;
  --seafoamTeal: #83C8C6;
  --underwaterTeal: #036377;
  --lazyYellow: #F8D077;
  --deepViolet: #36264A;
  --lavaRed: #EC0047;
  --dropShadow: #A8CBCA;
}

.editPage{
  width: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.back-edit-button{
  color: var(--seafoamTeal);
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}

span{
  font-family: 'Montserrat', sans-serif;
}

.edit-profile {
  color: var(--underwaterTeal);
  text-decoration: none;
}

a:visited , a:hover, a:active  {
  color: var(--underwaterTeal);
  text-decoration: none;
}

.page-image{
  position: relative;
}