@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

/* GUIDE 

* 1. GENERAL STYLES
* 2. HEADER
* 3. MAIN
* 4. SECTION
* 5. BUTTON STYLES
* 6. FOOTER 

*/

/* ROOT COLOR PALETTE */
:root {
    --logo-bbgMagenta: #EC008C;
    --logo-brightTeal: #3BC1CA;
    --logo-soapSudsTeal: #C9E9E6;
    --seafoamTeal: #83C8C6;
    --underwaterTeal: #036377;
    --lazyYellow: #F8D077;
    --deepViolet: #36264A;
    --lavaRed: #EC0047;
    --dropShadow: #A8CBCA;
}

/* ***   1.   GENERAL STYLES  ***  */





/* ***   2.   HEADER STYLES  ***  */





/* ***   3.   MAIN STYLES  ***  */





/* ***   4.   SECTION STYLES  ***  */





/* ***   5.   BUTTON STYLES  ***  */





/* ***   6.   FOOTER STYLES  ***  */


